<div id="gis3d" v-cloak>

  <div id="cesiumContainer"></div>
  <div id="cesiumMouseStatus" style="position:absolute;z-index:1111;top:0px;
          left:1px;background-color:white;float: left;"></div>
  <div id="cesiumCreditContainer"></div>
  <dev id="cesiumNavigation"></dev>


</div>
<%- include('../layouts/layt_tpl_js', {}); %>
<script src="/dependencies/frm_wits/witsplusx.js"></script>
<script src="/js/pages/gis3d.page.js"></script>
