<div id="login" v-cloak>
  <div class="login">
    <div class="login-con">
      <Card icon="log-in" title="欢迎登录" :bordered="false">
        <div class="form-con">
          <login-form @on-success-valid="handleSubmit"></login-form>
          <p class="login-tip">输入任意用户名和密码即可</p>
        </div>
      </Card>
    </div>
  </div>
</div>

<%- include('../layouts/layt_tpl_js', {}); %>
<script src="/js/pages/login.page.js"></script>

