<div id="dashboard">
  <i-button @click="show">Click me!</i-button>
  <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
</div>
<%- include('../layouts/lay_segms_js', {}); %>
<script src="/js/pages/dashboard.page.js"></script>
