<div id="sample" v-cloak>

  <i-button @click="show">Click me!</i-button>
  <Modal v-model="visible" title="Welcome">Welcome to iView说对方收到</Modal>

</div>

<%- include('../../layouts/layt_tpl_js', {}); %>
<script src="/js/pages/fdbsca/sample.page.js"></script>
