<div id="sample" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/fdbsca/sample.less</em>, <em>assets/js/pages/fdbsca/sample.page.js</em>, and <em>api/controllers/fdbsca/view-sample.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
