<div id="organization" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/fdbsca/organization.less</em>, <em>assets/js/pages/fdbsca/organization.page.js</em>, and <em>api/controllers/fdbsca/view-organization.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
